<web-app>
    <display-name>Product Id</display-name>
    <servlet>
        <servlet-name>drink-details</servlet-name>
        <servlet-class>com.hcl.DrinkDetailsServlet</servlet-class>
    </servlet>
   
    
    <servlet-mapping>
        <servlet-name>drink-details</servlet-name>
        <url-pattern>/drinks</url-pattern>
    </servlet-mapping>
    
</web-app>